body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

.c-head-content {
    margin: .5rem 0;
    font-size: 1.5rem;
}

.card-head {
    padding: .75rem;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.opBtn {
    position: relative;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #1d1d1d;
}

.opBtn:disabled {
    background-color: rgb(239, 239, 239);
    color: #d3d3d3;
    cursor: not-allowed;
}

.opBtnGroup {
    display: flex;
    justify-content: space-between;
    margin-right: -10px;
}

.opBtnGroup>.opBtn {
    height: 30px;
    margin-right: 10px;
}

.opBtnGroup>.opBtn>.pg-content {
    font-size: 16px;
}

.pg-content {
    z-index: 10;
    position: relative;
    font-size: 20px;
}

.pg-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    background: #409eff;
    opacity: .7;
    height: 100%;
    transition: width .6s ease;
}

.container {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
    margin-top: 30vh;
    margin-bottom: 10vh;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.tip {
    margin-top: 10px;
}

.detail {
    height: 100%;
    margin-top: 10px;
}

.progressWrapper {
    margin-top: 7px;
}

.progressWrapper>span {
    font-size: 14px;
    color: #5e5e5e;
}

.progress {
    width: 100%;
    height: 20px;
    background-color: #e9ecef;
    border-radius: .25rem;
    overflow: hidden;
    float: left;
}

.progressbar {
    height: 100%;
    width: 0;
    background: #17a2b8;
    transition-duration: 400ms;
    color: white;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
}

table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
}

table>tbody>tr {
    display: table-row;
    height: 25px;
    transition: background-color .25s ease;
}

table>tbody>tr:hover {
    background-color: #f5f7fa;
}

table>tbody>tr>td {
    vertical-align: bottom;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0px;
    width: 50%;
}

table>tbody>tr>td:nth-child(2) {
    color: gray;
}

span {
    margin: 5px 0px 5px 0px
}

#fileBtn {
    margin-top: 5px;
}

#version {
    color: #757575;
    float: right;
}

@media (max-width: 550px) {
    .container {
        width: 90%;
    }
}